body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.containerSite{
    height: 100vh;
    width: 100vw;

    margin:0;
    padding: 0;
    box-sizing: border-box;

    display: grid;
    grid-template: 1fr 3fr 1fr 35px / 1fr 0.6fr 1fr;
    background-color: #1DB954;
}

@media only screen and (max-width: 730px) {

    .logoSpotify1 img {
        display: none;
    }
    .logoSpotify2 img {
        display: none;
    }
}

.espaco1{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
/*     background-color: rgb(46, 91, 212); */
}

.logoSpotify1{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

    
/*     background-color: #a02020; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.containerPlayer{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    background-color: #121212;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logoSpotify2{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;

    
/*     background-color: #a02020; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.espaco2{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
/*     background-color: rgb(93, 3, 116); */
}

.footer{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #121212;

    display: flex;

    justify-content: center;
    align-items: center;
    color: white;
}

.footer a {
    color: white;
}

/* --------------------------------------------- */

.containerThumb{
    width: 70%;
    height: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

#thumbnail{
    width: 100%;
    height: 100%;
}

#nomeArtista{
    width: 250px;
    height: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#progressBar{
    width: 80%;
    height: 10px;
    border: solid 1px white;
    border-radius: 5px;
}

#progresso{
    height: 100%;
    width: 1%;
    background-color: white;
    border-radius: 0px 5px 5px 0px;;
}

.tempo{
    width: 80%;
    height: 15px;
    overflow:hidden;
    color: white;
}

#inicio{
    float: left;
    margin: 0%;
}

#fim{
    float: right;
    margin: 0%;
}

.controles{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPlayer{
    width: 40px;
    cursor:pointer;
}

.btnPlayer:hover{
    padding: 1px;
}

#Containervolume{
    width: 60%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}